# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
.gradle
local.properties
*.iml
android/.idea
android/.idea/libraries
.idea

# node.js
node_modules
npm-debug.log
yarn-error.log

#BUCK
buck-out/
\.buckd/
*.keystore

# .env
.env
